/Morgan_Assignment02/nbproject/private/
/Morgan_Assignment02/build/
/Morgan_Assignment03/nbproject/private/
/Morgan_Assignment03/build/
/InClassSets/nbproject/private/
/Morgan_Assignment04/nbproject/private/
/Morgan_Assignment04/build/
/Morgan_Assignment05/nbproject/private/
/Morgan_Assignment05/build/
